/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Verdana";
  font-size: 16px;
  scroll-padding-top: 125px; /* height of sticky header */
}

body{
  overflow-x: hidden;
}

header,
section,
footer {
  width: 100%;
}

/* Header */
/* Menu */

.logo-company {
  width: 200px;
  height: 200px;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 8px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
}

.logo-company h1 {
  font-size: 2em;
  padding: 1.5em;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  overflow-x: hidden;
}

.menu-main ul {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu-main li {
  margin-right: 1em;
  font-size: 1em;
  opacity: 0.8;
  font-weight: 900;
}

/*Top Banner*/

.top-img {
  height: 800px;
  max-width: 1600px;
  width: 100%;
}

/*Layout*/

.main-background {
  background-image: url("../img/bento-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 80%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Section */

.section-title {
  position: absolute;
  top: -30px;
  background-color: #fff;
  padding: 0 10px;
  font-size: 2em;
}

.title-position-left {
  left: 50px;
}

.title-position-right {
  right: 50px;
}

/*About and services' common section */

.color-emphasized {
  color: rgba(0, 0, 0, 0.8);
}

.color-normal {
  color: rgba(0, 0, 0, 0.5);
}

.about,
.services,
.company {
  max-width: 100%;
  height: 650px;
  position: relative;
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  margin-bottom: 3em;
  font-weight: bold;
}

.about,
.services {
  display: flex;
  align-items: center;
}

/*About section*/

.about-img-block {
  display: flex;
  margin-left: 1em;
  
}

.about-explanation {
  display: flex;
  align-items: center;
  margin-left: 1em;
  width: 450px;
  height: 350px;
  padding: 2em;
}

.about-img-first,
.about-img-second {
  width: 400px;
  height: 400px;
  margin-right: 1em;
  margin-left: 1em;
  background-color: #dddddd;
}

.about-img-first {
  margin-top: 10em;

}

/*Service section*/

.services {
  justify-content: center;

}
.ecommerce,
.take-away {
  width: 1200px;
  height: 500px;
  margin-right: 1em;
  margin-left: 1em;
}

.services-img {
  max-width: 100%;
  height: 350px;
  background-color: #dddddd;
}

.services-explanation {
  height: 175px;
  border: rgba(0, 0, 0, 0.5) 1px solid;
  margin-top: 1.5em;
  padding: 1.5em;
}

.services-explanation h1 {
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.8);
}



/*Section Company*/

.company-info {
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

table tr {
  height: 5em;
  display: flex;
  align-items: center;
}

.line-space {
  line-height: 1.5;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}

table td {
  padding: 1em;
}

/*Section Contact*/

.contact {
  height: auto;
  background-color: #dddddd;
  overflow-x: hidden;
}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.contact-title {
  font-size: 5em;
}

.form {
  margin-left: 3em;
  padding: 2em;
}
.form input {
  margin-bottom: 1em;
}

.form label {
  line-height: 2;
}

.form input[type="submit"] {
  border-radius: 0.5em;
  padding: 0.5em;
  border: 0 none;
  cursor: pointer;
  font-family: "Verdana";
  font-size: 16px;
  opacity: 0.5;
}

.form textarea{
  width: 20em;
  height: 20em;
}

/*footer*/

footer {
  width: 100%;
  height: 75px;
  background-color: #f2f2f2;
}

.footer-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-position p {
  margin-right: 0.75em;
}

/*Responsive design*/


@media only screen and (max-width: 1230px) {
  .container {
    max-width: 1000px;
  }
  .services-explanation {
    height: 190px;
  }

  .about-img-block {
    flex-direction: column;
  }

 .about-img-first,
.about-img-second {
  width: 350px;
  height: 250px;  
}

.about-img-first {
  margin-top: 0em;
  margin-bottom: 2em;
}
}


@media only screen and (max-width: 925px) {
  .container {
    max-width: 925px;
   
  }
}

@media only screen and (max-width: 865px) {

  .services-img {
    height: 300px;
}
.services-explanation {
  height: 225px;
}
}

@media only screen and (max-width: 825px) {
  .container {
    max-width: 700px;
  }

  .contact-section{
    max-width: 700px;
    flex-direction: column;
    text-align: center;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: auto;
  }

}

@media only screen and (max-width: 750px){

  .container {
    max-width: 600px;
  }

  .about {
    flex-direction: column-reverse;
  }

  
  .about-explanation {
    width: auto;
    text-align: center;
    height: auto;
  }

  .about-img-first{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 2em;
  }

  .about-img-second{
    display: none;
  }

}


@media only screen and (max-width: 730px) {
  .services, .about, .company{
    flex-wrap: wrap;
    height: auto;
  }

  .ecommerce{
    margin-top: 2em;
  }

  .services-explanation {
    height: 150px;
  }

  .services-img{
    height: 250px;
  }
}



@media only screen and (max-width: 625px) {
  .container {
    max-width: 500px;
  }

  .services-explanation {
    height: 165px;
  }


  .form{
    margin: none;

  }
}

@media only screen and (max-width: 525px) {
  .container{
    max-width: 100%;
    overflow-x: hidden;
    
  }

  .services, .about, .company{
    border: none;
    margin-bottom: 5em; 
  }

  .about{
    margin-top: 2em;
  }

 .services-img{
    max-width: 100%;
  }

 

  .services-explanation {
    max-width: 100%;
    height: auto;
  }

  .section-title{
    background-color: transparent;

  }

  .title-position-left{
    left: auto;
  }

  .title-position-right{
    right: auto;
  }
}

@media only screen and (max-width:370px ){
  .about-img-first{
    width: 337px;
  }
}

@media only screen and (max-width:355px ){
  .about-img-first{
    width: 250px;
  }
}
/*Responsive menu*/
@media only screen and (max-width: 680px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.94);
    height: auto;
    width: 100%;
  }

  .menu-main ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-main li {
    font-size: 1.5em;
    line-height: 1.5;
  }

  .top-img {
    margin-top: 250px;
  }
}



